*.cpython-34.pyc
*/__pycache__/*
migrations/*
*.sqlite3

# ignore all config files
*.cfg

setting.cfg

# ignore all pyc files
*.pyc

data-dev.sqlite

app/main/__pycache__/__init__.cpython-34.pyc

app/main/__pycache__/errors.cpython-34.pyc

app/main/__pycache__/forms.cpython-34.pyc
