{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page %}
<div class="page-header">
	<h1>Hello, {% if name %} {{ name }} {% else %} Stranger {% endif %} !</h1>
</div>
{{ wtf.quick_form(form) }}

<h4>Here is our HTML/CSS/Bootstrap Quiz:</h4>

<div class="container embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" name='proprofs' id='proprofs'src='https://www.proprofs.com/quiz-school/story.php?title=ote3otuxj5ud&id=917679&ew=430'></iframe><div style='font-size:10px; font-family:Arial, Helvetica, sans-serif; text-align:center;'><a href='https://www.proprofs.com/quiz-school/story.php?title=ote3otuxj5ud' target='_blank' title='ProProfs Quiz- Untitled Quiz'>ProProfs Quiz- Untitled Quiz</a> </div>
</div>


{% endblock %}
